*{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
}

body {
    background-color: #777777;
}

.section {
    max-width: 495px;
    padding: 15px;
    flex: 1;
    text-align: center;
    /* margin: 0 auto; */
  }

.wrapper{
    display: flex;
    margin: 0 auto;
    max-width: 982px;
    min-width: 982px;
}

.aside {
    max-width: 460px;
    padding: 15px;
    flex: 1;
    text-align: center;
    /* margin: 0 auto; */
  }


.article {
    padding: 30px;
    flex: 1;
    text-align: center;
    border: 1px solid #777777;
    background-color: #777777;
    margin-top: 15px;
  }

.words {
    padding: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    flex: 1;
    text-align: center;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
  }

.para {
    padding: 30px;
    flex: 1;
    text-align: center;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
  }


.csection {
    margin: 0 auto;
    width: 495px;
    padding: 10px;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    margin-right: 15px;
    margin-bottom: 15px;


    
  }

.caside {

    width: 430px;
    padding: 10px;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    margin-bottom: 15px;


    
  }

/* .body {
    margin: 100px;
    padding: 30px;
    width: 100px;
    border: 3px solid lightblue; 
    flex: 1;
    background-color: #ffbe76;

  } */

.header {
    margin: 0 auto;
    width: 960px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }

.nav {
    margin: 0 auto;
    width: 960px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
  }

p {
    margin: 20px;
    border: 0px;
    position: absolute;
}

.footer {
    width: 960px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    text-align: center;
}
