*{
    
        /* *{ sets the font for the whole code, 
            I want to make it so that the header has different font from rest
            
            font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
    color: #777777;
    margin: 0;
}

.headfont{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    font-weight: bold;
}

.headfont2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    font-weight: bold;
    color: #4aaaa5;
}

.headfont3{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    font-weight: bold;
    color: #4aaaa5;
    text-align: center;
}

.normalfont{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
}


body{
    background-image: url("../images/background.png");

}

/* menu base styles */

nav{
    background: #ffffff;
    display: flex;
    justify-content: space-around;

}

nav ul{
    list-style-type: none;
    padding: 0;

}

nav a{
    text-decoration: none;
    text-align: center;
    color: #cccccc;
    display: block;
    padding: 30px;

}

nav a:hover{
    background-color: #555;
}

/* flex styles */

.contain{
    border-bottom: 2px solid #cccccc;
}


nav ul{
    display: flex;
    justify-content: flex-end;
}

nav h1 {
    background-color: #4aaaa5;
    color: #fff;
    display: flex;
    padding: 25px;
}

.body1 h1{
    border-bottom: 2px solid #dddddd;
    padding-bottom: .5em;
}

.body2 h2{
    font-size: 1.35em;
    border-bottom: 1px solid #dddddd;
    padding-bottom: .5em;
    
}

p{
    margin-top: .5em
}

.body1 {
    min-width: 650px;
    max-width: 650px;
    padding: 1.5em;
    margin: 20px;
    flex: 3;
    line-height: 1.5;
    border: 1px solid #dddddd; 
    background-color: white;


  }

.body2 {
    min-width: 270px;
    max-width: 270px;
    padding: 1.5em;
    margin: 20px;
    flex: 1;
    border: 1px solid #dddddd; 
    line-height: 1.5;
    background-color: white;
    margin-bottom: auto;
    

  }

.bodycontain {
    min-width: 960px;
    max-width: 960px;
    display: flex;
    padding: 1em;
	margin-left: 16%;
	margin-right: 16%;

    
}

/* Main Body Style */



#photo{
    width: 55%;
    height: 55%;
}

.social{
    padding: 10px;
    display: flex;

    
    
}

.img1{
    margin-left: 2px;
    margin-right: 3px;
    margin-top: 1em;
    max-width: 80px;
    max-height: 80px;
    border-radius: 30%;
    
    